.blender {
    color: #e87d0d;
}

.container {
    display: flex;
}

.col {
    flex: 1;
}

.c1{
    color: #227c9d;
}
.c2{
    color: #17c3b2;
}
.c3{
    color: #ffcb77;
}
.c4{
    color: #fef9ef;
}
.c5{
    color: #fe6d73;
}

  /* .menubar{
    border-bottom: none;
  } */

.reveal img{
    margin: 0px;
}
  .title{
    position: relative;
    top:0.4em;
    font-size: 1.4em;
    text-transform: uppercase;
  }

  .subtitle{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
  }